:root{
    --nav-link-color: #000000;
    --nav-background-color: #ffffff;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #ffffff;
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
}
nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:10px;
  
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
/* nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
} */

.nav-link-active{
    background-color: #bcbcbc;
}

  .loginButton{
    background-color: #f9f9f9;
    margin: 10px;
    margin-top:20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    text-align: center;
    width: 150px;
    height: 50px;
    display: inline-block;
  }

  #signIn{
    margin-left: 50px;
  }

.productbox{
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    text-align: center;
    color:black;
    width: 350px;
    display: inline-block;
    img{
        width: 300px;
        height:200px;
    }
}

.filterButton{
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    text-align: center;
    width: 150px;
    display: inline-block;
}

.star{
    font-size: 50px;
    color: #100f0f;
    margin:0.5px;
}

.star_unfilled{
    color: #e0e0e0;
    font-size:50px;
    margin: 0.5px;
}

.container{
    display: grid;
    grid-template-columns: 19% 27% 27% 27%;
    grid-template-rows: auto;
}

.student_approved_header{
    grid-column: 1/5;
    grid-row: 1;
    width: 1000px;
    height: 100;
    display: inline-block;
    margin-left: 10px;
}

#search{
    width: 638px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 5px;
    grid-column: 2;
    margin-left: 10px;
    margin-right: 400px;
}

#ascending{
    grid-column:3;
}

#descending{
    grid-column:4;
} 

.first_row{
    grid-column: 1/5;
    grid-row: 2;
    display: inline-block;
}


.filter{
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    width: 200px;
    height:300px;
    display: inline-block;
    grid-column: 1;
    grid-row: 3/span 2;
    input{
        margin: 10px;
    }
}

#Cove{
    grid-column: 2;
    grid-row:3;
}

#Nauvoo{
    grid-column: 3;
    grid-row:3;
}

#Lodge{
    grid-column: 4;
    grid-row:3;
}

#NorthPoint{
    grid-column: 2;
    grid-row:4;
}

#Ridge{
    grid-column: 3;
    grid-row:4;
}

#Landing{
    grid-column: 4;
    grid-row:4;
}

