@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&family=Rubik:wght@300&display=swap");

*{
    font-family:"Roboto", Rubik;
    margin: 0;
}

:root{
    --nav-link-color: #000000;
    --nav-background-color: #ffffff;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #ffffff;
}

.ham_logo{
    display: none;
}

.hero {
    text-align: center;
}

.hero-image {
    width: 100%;
}
nav,footer {
    /* background-color: var(--nav-background-color); */
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
nav a{
    padding:1em;
    text-decoration: none;
    /* padding-left: 30px;
    padding-right: 30px; */
    color: #000000;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}

.logo {
    display: flex;
    align-content: center;
}

.navbar{
    align-content: center;
}

.navbar a:hover {
    background-color: #bcbcbc;
    border-radius: 10px;
}

.navbttn{
    padding-right: 40px;
    align-content: center;
}

footer a{
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding-bottom:10px;
    /* padding-right: 250px; */
    color: #000000;
}

.search-container{
    margin: 100px;
    z-index: 1000;
    color: #ffffff;
    font-size: xx-large;
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    top: 30%;
    transform: translateY(-50%);
}

#title{
    background-color: #e0e0e0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    outline: none;
    width: 80%;
}

.transparent-button{
    background-color: #e0e0e0;
    color: #475B5C;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 7.2px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
/* nav a:link, nav a:visited, footer a:link, footer a:visited {
    color: var(--nav-link-color);
} */
/* nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
} */

/* .active{
    background-color: #bcbcbc;
} */

.loginButton{
    background-color: #475B5C;
    color: #e0e0e0;
    margin: 5px; 
    padding: 5px; 
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    text-align: center;
    width: 80px;
    height: 50px;
    display: inline-block;
    transition: 1s;
  }

  .registerButton{
    background-color: #e0e0e0;
    margin: 5px; 
    padding: 5px; 
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    text-align: center;
    width: 80px;
    height: 50px;
    display: inline-block;
    transition: 1s;
  }

  .registerButton:hover{
    background-color: #fff;
    color: #475B5C;
  }

  .loginButton:hover{
    background-color: #fff;
    color: #475B5C;
  }

.approved-student{
    padding: 40px;
    height: 400px;
}

.categories{
    padding: 40px;
}

.category {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category a {
    height: 80%;
    width: 20%;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    background-color: #475B5C;
    color: #fff;
    border-radius: 10px;
    z-index: 10000;
    font-size: medium;
    transition: 0.5s;
}

.category a:hover{
    font-size: large;
    background-color: #81b29a;
}
.productbox{
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    text-align: center;
    color:black;
    width: 90%;
    display: inline-block;
    img{
        width: 95%;
        height:250px;
    }
}


.filterButton{
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    text-align: center;
    width: 150px;
    display: inline-block;
}

.priceContent{
    display:flex;
    justify-content: space-between;
    p{
        font-weight: bold;
    }
}

.range-slider{
    position: relative;
    border-radius: 5px;
    margin: 15px 0 30px 0;
    width: 100%; 
}

.range-fill{
    background-color: #000000;
    height: 6px;
    z-index: 1;
    position: absolute;
    width:100%;
    border-radius: 5px;
}

input[type=range]{
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    position: absolute;
    left: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #e0e0e0;
    border-radius: 5px;
    border:none;
}

#filter{
    margin: 5px;
    background-color: #ffffff;
    width: 90px;
    margin-top: 10px;
}

#clearFilter{
    margin: 5px;
    background-color: #ffffff;
    width: 90px;
}

.star{
    font-size: 50px;
    color: #100f0f;
    margin:0.5px;
}

.star_unfilled{
    color: #e0e0e0;
    font-size:50px;
    margin: 0.5px;
}

.container{
    display: grid;
    grid-template-columns: 19% 27% 27% 27%;
    grid-template-rows: auto;
}

.student_approved_header{
    grid-column: 1/5;
    grid-row: 1;
    width: 90%;
    height: 100;
    display: inline-block;
    margin-left: 10px;
}

.searchBox{
    width:375px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    display: inline-block;
    margin-left: 10px;
}

#search{
    width: 300px;
    height: 10px;
    border:none;
    padding: 0px;
    grid-column: 1;
    margin-right: 10px;
    display: inline-block;
    margin-left: 10px;
}

#searchButton{
    background-color: #ffffff;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow:none;
    text-align: center;
    width: 10px;
    display: inline-block;
    grid-column: 2;
}

#clear{
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px; 
    margin-right: 400px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    text-align: center;
    width: 100px;
    display: inline-block;
    grid-column: 3;
}

#ascending{
    grid-column:3;
}

#descending{
    grid-column:4;
} 

.first_row{
    grid-column: 1/5;
    grid-row: 2;
    display: inline-block;
}


.filter{
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    width: 80%;
    height:475px;
    display: inline-block;
    grid-column: 1;
    grid-row: 3/span 2;
    input[type="checkbox"],h2,h3{
        margin: 10px;
    }
}


#gender{
    margin: 10px;
    width: 100px;
}

#productbox_container{
    grid-column: 2/5;
    grid-row: 3/span 2;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

      
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


@media screen and (max-width: 600px) {
    .navbar a{
        display:none;
    }
    footer a{
        display: none;
    }
    .student_approved_header{
        width: 450px;
    }
    .searchBox{
        width: 275px;
    }
    .navbttn{
        display: none;
    }
    .container{
        display:block;
    }
    #productbox_container{
       display:block;
    }
    .productbox{
        margin:10px;
        width: 90%;
        img{
            width: 95%;
            height:350px;
        }
    }
    #clear{
        display:none;
    }
    #ascending{
        width: 110px;
    }
    #descending{
        width: 110px;
    }
    #search{
        width: 200px;
    }
    .overlay-content {
        position: relative;
        top: 10%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
      }
    
      /* The navigation links inside the overlay */
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 26px;
        color: #818181;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
      }
      
      /* When you mouse over the navigation links, change their color */
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      /* Position the close button (top right corner) */
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
    
      .ham_logo a{
        padding: 0px;
        font-size:25px;
      }
      .ham_logo{
        display: inline;
        margin-top:10px;
        margin-left: 350px;
      }
}

